<p>You searched for: <strong>{{ query }}</strong></p>

{% if person %}
    <p>Found {{ person|length }} person{{ person|pluralize }}.</p>
    <ul>
        {% for person in person %}
        <li>{{ person.fname }} {{ person.lname }} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No people matched your search criteria.</p>
{% endif %}
