<html>
<head>
    <title>Data Manipulation</title>
</head>
<body>

<h3>Search Names</h3>
    <form action="/search/" method="get">
        Last Name:<input type="text" name="q">
        <input type="submit" value="Search">
    </form>
<h3>Add Names</h3>


<form action="/data/" method="get">
        First Name:<input title="value to add" type="text" name="fname">
<br />	Last Name:<input title="value to add" type="text" name="lname">
<br />
        <input type="submit" value="Add Names">
    </form>


<h3>Login</h3>
Login:user</br>
Password:pass
</br>
<form action="/logincheck/" method="post">
{% csrf_token %}
        User Name:<input title="value to add" type="text" name="username">
<br /> Password <input title="value to add" type="password" name="password">
<br />
        <input type="submit" value="Login">
    </form>



</body>
</html>
