{% load render_table from django_tables2 %}
<!doctype html>
<html>
<head>
<title>dan</title>
<!-- You can make this a CSS REF -->
<link rel="stylesheet" href="templates/css/screen.css" />

</head>
<body>
Top:
{{STATIC_URL}}
{{ people.id }}
{{ people_list }}

Top Person:
  {% render_table topperson %}


All People

{% render_table allpeople %}

bottom
</body>
</html>
